# Airflow
apache-airflow==2.7.1
apache-airflow-providers-apache-spark==4.1.1

# Spark
pyspark==3.4.1
pyarrow==12.0.1

# Database
psycopg2-binary==2.9.6


# Utilities
python-dotenv==1.0.0
requests==2.31.0
pyyaml==6.0.1

# Rill
rill==0.1.0

# ClickHouse
com.clickhouse:clickhouse-jdbc:0.4.6
clickhouse-connect>=0.6.6
